.all-users-container {
  padding: 30px;
  padding-left: 150px;
  padding-right: 150px;
  max-width: 90%;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-list-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.user-list-table th, .user-list-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.user-list-table th {
  background-color: #0056b3; /* Darker blue for a more professional feel */
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.user-item {
  background-color: #fff;
}

.user-item:nth-child(even) {
  background-color: #f1f1f1;
}

.user-status {
  font-weight: bold;
}

.pending {
  color: #f39c12;
}

.requested {
  color: #e74c3c;
}

.active{
  color: #09b303;
}

.activate-button, .reactivate-button {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.activate-button:hover, .reactivate-button:hover {
  background-color: #2980b9;
}
